---
layout: default
title: "Home"
---

<div align="center">
    Hello! I’m Tu Li, a third-year PhD student in Economics at the University of Arizona. Before starting my doctoral studies, I earned a master’s degree in Pure Mathematics from California State University, Long Beach, and a bachelor’s degree in Economics from California State Polytechnic University, Pomona. My research interests broadly include theoretical econometrics and high-dimensional statistics, with a particular focus on the application of machine learning methods to causal inference.
</div>

{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %}
